:root {
  --clr-white: hsl(0, 0%, 100%);

  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);

  --fs-base: 1.5rem;
  --fs-lg: 2.4rem;

  --fw-regular: 400;
  --fw-bold: 700;
}
/* CSS Resets Styling  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

html {
  font-size: 62.5%;
}

img {
  max-width: 100%;
  display: block;
}

/* Main CSS Styling  */

body {
  font-weight: var(--fw-regular);
  font-size: var(--fs-base);
}

.qr_heading {
  font-size: var(--fs-lg);
  color: var(--slate-900);
  font-weight: var(--fw-bold);
  margin-block: 2rem;
}

main {
  min-height: 100dvh;

  display: grid;
  place-items: center;

  background-color: var(--slate-300);
}

.qr_container {
  width: min(95%, 320px);
  padding: 1.6rem;
  border-radius: 1.6rem;
  text-align: center;
  background-color: var(--clr-white);
  box-shadow: 10px 10px 48px -22px rgba(0, 0, 0, 0.75);
}

.qr_container > img {
  border-radius: 1rem;
}

.qr_description {
  color: var(--slate-500);
  margin-block-end: 2rem;
}

@media (max-width: 375px) {
  .qr_heading {
    font-size: 1.6rem;
  }

  .qr_description {
    font-size: 1.4rem;
  }
}
